.atom/*
.cache/*
.config/*
.local/*
.npm/*
.ssh/*
Desktop/*
snap/*
node_modules/*
!npm/*
.bash_history
.bash_logout
.bash_profile
.bashrc
.profile
.sqlite_history
.sudo_as_admin_successful
.wgets-hsts
.nvm
