

<div class="footer">
    <p>contact for more info</p>
</div>




<script src="../public/libs/buildtable.js"></script>
<script src="../public/libs/databaseFunctions.js"></script>
<script src="../public/libs/salesFunctions.js"></script>



</body>