<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Stock App</title>
</head>

<body>

    <div class="header">
        <h1>Stock App</h1>
        <div class="navbar">
            <button id="home">Home</button>
            <button id="profile">Profile</button>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>