<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Stock App</title>
</head>
<%console.log(typeof(loggedin))%>
<body>

    <div class="header">
        <h1>Stock App</h1>
        <div class="navbar">
            <form action="/" method="GET">
                <button type="submit" >Home</button>
            </form>
            <form action="/userRoutes/userProfile" method="GET">
                <button type="submit" >Profile</button>
            </form>
            <% if((typeof(loggedIn) !== "undefined") && loggedIn === true){ %> 
                <form action="/userRoutes/logout?_method=DELETE" method="POST">
                    <button type="submit">Logout</button>
                </form>
            <% } else { %>
                <form action="/userRoutes/userCreation" method="GET">
                    <button type="submit">Register</button>
                </form>
                <form action="/userRoutes/userLogin" method="GET">
                    <button type="submit">Login</button>
                </form>
            <% } %>
        </div>


    </div>