<%- include("header.ejs", { home: "Home", nav: "Profile", logAction: "notAuth"}) %>

    <div class="content">
        <div class="hero">
            <span></span>
            <span></span>
            <span></span>
        </div>


        <% if (r = (typeof(range) !== 'undefined')) { %>
            <%= range %>
        <% } %>
         <% if (s = (typeof(stock) !== 'undefined')) { %>
         <%= s %> 
        <% } %>

       
        <form class="search" action="/candlestickGraph" method="POST">
            <input type="search" placeholder="Search..." name="CurrentStock">
            <input type="submit" value=&#x2315>
        </form>
        <br>

            

    <script src="app.js"></script>

    <%- include("footer.ejs") %>