<% if(isAuth = (typeof(username) !== 'undefined')) { %>
    <%- include("header.ejs", { loggedIn: isAuth, username: username } ) %>
<% } else { %>
    <%- include("header.ejs", { loggedIn: isAuth } ) %>
    <% } %>


    <div class="content">
        <div class="hero">
            <span></span>
            <span></span>
            <span></span>
        </div>
       
        <form class="search" action="/candlestickGraph" method="POST">
            <input type="search" placeholder="Search..." name="CurrentStock">
            <input type="submit" value=&#x2315>
        </form>
        <br>

        <% if(typeof(candleStickPrices) !== 'undefined') { %>
            <%- include('candlestickGraph', {profile: false, candleStickPrices: candleStickPrices, CurrentStock: CurrentStock, IntervalChosen : IntervalChosen,IntervalDates : IntervalDates}) %>
        <% } %>

            

    <script src="app.js"></script>