<%- include("header.ejs", { home: "Home", nav: "Profile", logAction: "Logout"}) %>

    <div class="content">
        <div class="hero">
            <span></span>
            <span></span>
            <span></span>
        </div>



    </div>

    <script src="app.js"></script>

    <%- include("footer.ejs") %>