html {
    color: white;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

.header,
.footer,
.content {
    position: absolute;
    width: 100%;
}

.header {
    text-align: center;
    top: 0;
    overflow: hidden;
    background-color: rgb(41, 173, 74);
}

.header h1 {
    margin-bottom: 0px;
}


/* .header span {
    display: inline-block;
} */

.footer {
    height: 50px;
    bottom: 0;
    background-color: rgba(36, 36, 36, 0.829);
}

.content {
    top: 200px;
    bottom: 50px;
}

.navbar button {
    float: left;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

h1 {
    font-size: 32pt;
    padding: 0px;
}

.formInput {
    padding: 15px;
}

.content {
    padding: 15px;
}