html {
  color: white;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0px;
}

.header,
.footer,
.content {
  position: absolute;
  width: 100%;
}

.header {
  text-align: center;
  top: 0;
  overflow: hidden;
  background-color: rgb(41, 173, 74);
}

.header h1 {
  margin-bottom: 0px;
}

/* .header span {
    display: inline-block;
} */

.footer {
  height: 50px;
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.829);
}

.content {
  top: 200px;
  bottom: 50px;
  position: absolute;
  margin: auto;
  padding-bottom: 500px;
  /* padding: 50px; */
}

.navbar button {
  float: left;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

h1 {
  font-size: 32pt;
  padding: 0px;
}

.formInput {
  padding: 15px;
}

#searchStock {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

.buyForm {
  margin-bottom: 20px;
}

#buybtn {
  background-color: green;
}

#sellbtn {
  background-color: red;
}

.portfolio-container {
  margin: auto;
}

#portfolio {
  border: 5px;
  border-style: ridge;
}

#portfolio tr:hover .ticker {
  background: rgb(41, 173, 74);
}

#portfolio th,
td {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
